*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
}


h4{
    color: grey;
}
#blu{
    color: blue;
}

.evidenziato {
    background-color: yellow; 
  }
  
.tabellagrande{
width: 50%;
}

.tabella{
    width: 25%;
}

thead{
    background-color: lightskyblue;
    color: white;
}

.colorato{
    background-color: aquamarine;
}



