*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 120px;
}


h4{
    color: grey;
}
#blu{
    color: blue;
}

.evidenziato {
    background-color: yellow; 
  }
  
.tabellagrande{
width: 50%;
}

.tabella{
    width: 25%;
}

thead{
    background-color: lightskyblue;
    color: white;
}

.colorato{
    background-color: aquamarine;
}

#foto1{
    max-width: ;width: 1000px;
}
img{
    margin-bottom: 15px;
    margin-top: 15px;
}

section{
    margin-bottom: 25px;
    margin-top: 25px;  
}

table{
    margin-bottom: 25px;
    margin-top: 25px;   
}

footer{
    margin-bottom: 25px;
    margin-top: 25px;
    color: grey; 
}


ul{
    margin-bottom: 25px;
    margin-top: 25px; 
}

.imglorem{
    width: 220px;
    height: 220px;
    text-align: center;
    background-image: url("./img/monitor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 25px;
}
.imglorem2{
    width: 220px;
    height: 220px;
    text-align: center;
    background-image: url("./img/graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}